version: '3.8'

services:
  n8n:
    image: docker.n8n.io/n8nio/n8n
    restart: always
    ports:
      - "5678:5678"
    environment:
      - N8N_HOST=${SUBDOMAIN}.${DOMAIN_NAME} # might not need this for local Codespace use, but good for custom domains
      - N8N_PORT=5678
      - N8N_PROTOCOL=http # Use http for Codespace if not configuring SSL
      - NODE_ENV=production
      - N8N_PUSH_BACKEND=polling
      - N8N_ADDITIONAL_NPM_PACKAGES=xml2js
      - WEBHOOK_URL=https://fuzzy-funicular-545q96prq49h4g7v-5678.app.github.dev/ # This will be important for webhooks
      - GENERIC_TIMEZONE=Europe/Amsterdam
    volumes:
      - n8n_data:/home/node/.n8n

volumes:
  n8n_data: